{% extends "default.html" %}
{% block title %}Claim Details{% endblock %}

{% block content %}

<nav class="row">
  <div class="col col-sm-1 btn-group mb-3">
    <a class="btn btn-falcon-default mr-sm-3"
      href="{{url_for('claims.route_list')}}">
      <img class="fa" src="{{url_for('cdn', filename='img/arrow-left-solid.svg')}}" width="16px" height="16px" />
    </a>
  </div>
</nav>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Claim Details</h2>
<form method="post" action="{{url_for('claims.route_modify', claim_id=claim.claim_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="kind">Kind:</label>
    <input type="text" class="form-control" id="kind" name="kind" value="{{claim.kind}}" required />
  </div>
  <div class="form-group">
    <label for="icon">Icon:</label>
    <input type="text" class="form-control" id="icon" name="icon" value="{{claim.icon if claim.icon}}" required />
  </div>
  <div class="form-group">
    <label for="summary">Summary:</label>
    <input type="text" class="form-control" id="summary" name="summary" value="{{claim.summary if claim.summary}}" required />
  </div>
  <div class="form-group">
    <label for="url">URL:</label>
    <input type="text" class="form-control" id="url" name="url" value="{{claim.url if claim.url}}" required />
  </div>
  <input type="submit" class="card-link btn btn-primary" value="Save">
  <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</form>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Claim?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once deleted, claims can not be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('claims.route_delete', claim_id=claim.claim_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
