{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.name == 'stable' %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% elif md.fw.remote.name == 'testing' and md.check_acl('@modify-updateinfo') %}
  <div class="alert alert-warning mt-1" role="alert">
    This firmware has already been pushed to the {{md.fw.remote.name}} target (which is public)
    and so <strong>any modifications should be done very carefully</strong>.
  </div>
{% endif %}

{% set tx = md.get_description_by_locale(locale) %}

{% if not md.check_acl('@modify-updateinfo') %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Update Description</h2>
<table class="table">
{% for tx in md.descriptions|sort %}
  <tr class="row">
    <th class="col col-sm-3">
      {{format_locale(tx.locale_with_fallback)}} ({{tx.locale_with_fallback}})
    </th>
    <td class="col">{{tx.value}}</td>
  </tr>
{% endfor %}
</table>
  </div>
</div>

{% else %}

{% if md._problems_for_descriptions %}
<div class="alert alert-warning" role="alert">
  <strong>Release is not valid!</strong>
  <ul>
{% for problem in md._problems_for_descriptions %}
    <li>{{problem.summary}}: <em>{{problem.description}}</em></li>
{% endfor %}
  </ul>
</div>
{% endif %}

<form id="autoimport" method="post" action="{{url_for('components.route_issue_autoimport', component_id=md.component_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>

<form id="modify" method="post" action="{{url_for('components.route_modify', component_id=md.component_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <input type="hidden" name="locale" value="{{locale if locale}}"/>
</form>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Update Description ({{format_locale(tx.locale_with_fallback)}})</h2>

{% if md.needs_issues %}
  <div class="alert alert-warning mt-1" role="alert">
    <p class="card-text">
      <strong>This looks like a security update without any added security issues!</strong>
    </p>
    <p class="card-text">
      OEMs, end-users, and customers search the LVFS every day to find the firmware update that
      fixes a specific vulnerability.
      Not providing references to security issues (e.g. CVEs) means that models may be marked as
      insecure by corporate security teams until manually verified.
    </p>
    <p class="card-text">
      This update probably should have <code>INTEL-SA</code> and/or <code>CVE</code> numbers included in the
      <a href="{{url_for('components.route_show', component_id=md.component_id, page='issues')}}">Issues</a> tab.
      There are exceptions where vendors fix security bugs proactively without coordinated public
      disclosure, but this is unusual.
    </p>
  </div>
{% endif %}

  <div class="form-group">
    <textarea form="modify" class="form-control" name="description" id="description" cols="100" rows="15">{{tx.value if tx and tx.value}}</textarea>
{% if md.descriptions|length > 1 %}
    <ul class="nav float-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
           href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Switch language...
        </a>
        <div class="dropdown-menu">
{% for tx in md.descriptions|sort %}
{% if tx.locale != locale %}
          <a class="dropdown-item" href="{{url_for('components.route_show', component_id=md.component_id, page=page, locale=tx.locale)}}">
            {{format_locale(tx.locale_with_fallback)}}
{% if not tx.locale %}
            (default)
{% endif %}
          </a>
{% endif %}
{% endfor %}
        </div>
      </li>
    </ul>
{% endif %}
    <p class="text-secondary">
{% if tx.user %}
      Translated {{format_humanize_naturaltime(tx.ctime)}} by {{tx.user.vendor.display_name}}.
{% endif %}
      Text is formatted with
      <a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a>.
      Only paragraph and lists are currently supported.
      Security issues can be imported automatically.
    </p>
  </div>
  <button form="modify" class="card-link btn btn-primary" type="submit" value="Save"/>Save</button>
  <button form="autoimport" class="card-link btn btn-primary float-right">Import Issues</button>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
<h5 class="mt-3">Release Notes Example:</h5>
<pre class="p-2 border border-info rounded">
This stable release fixes the following issues:

 * Disable auto-sleep when the device is connected to a USB port
 * Improve performance of the analog sticks

Some new functionality has also been added:

 * Add support for Joystick Mode to OS X
</pre>
  </div>
</div>

{% endif %}
{% endblock %}
