{% extends "default.html" %}
{% block title %}Component Shard Checksums{% endblock %}

{% block nav %}{% include 'shard-nav.html' %}{% endblock %}

{% block content %}

{% for checksum in shards_by_checksum %}
{% set shards = shards_by_checksum[checksum] %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title"><code>{{checksum}}</code></h2>
    <ul class="list-group">
{% for shard in shards|sort(attribute='name_with_vendor') %}
{% set md = shard.md %}
{% set remote = md.fw.remote %}
      <li class="list-group-item">
        <a href="{{url_for('components.route_show', component_id=md.component_id)}}">
          {{md.name_with_vendor}} &mdash; {{md.version_display}}
          <span class="badge badge-{{remote.color}} float-right">{{remote.key}}</span>
        </a>
      </li>
{% endfor %}
    </ul>
    <a class="card-link btn btn-info mt-3"
       href="{{url_for('shards.route_download', component_shard_id=shards[0].component_shard_id)}}">
      Download File
{% if shard.size %}
      ({{format_size(shard.size)}})
{% endif %}
    </a>
  </div>
</div>
{% endfor %}

{% endblock %}
