{% extends "default.html" %}
{% block title %}Firmware Assets{% endblock %}

{% block nav %}{% include 'firmware-nav.html' %}{% endblock %}

{% block content %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Current assets for {{fw.vendor.display_name}} {{','.join(fw.names)}}</h2>
    <p class="card-text">
      Assets are files uploaded for the firmware, typically documentation or test files.
    </p>
  </tr>
  </div>
</div>

{% if fw.assets %}
<div class="card mt-3">
  <div class="card-body">
<table class="table">
  <tr class="row table-borderless">
    <th class="col col-8">Filename</th>
    <th class="col col-2">Added by</th>
    <th class="col col-2">&nbsp</th>
  </tr>
{% for asset in fw.assets %}
  <tr class="row">
    <!-- {{asset.absolute_path}} -->
    <td class="col col-8">
      <a href="{{asset.url}}"><code>{{asset.filename}}</code></a>
    </td>
    <td class="col col-2">
      {{asset.ctime.strftime('%F %T')}} by <code>{{asset.user.username}}</code>
{% if asset.mirror_url %}
      <a href="{{asset.mirror_url}}">
        <img class="fa" src="{{url_for('cdn', filename='img/globe-europe-solid.svg')}}" title="This file has also been uploaded to a mirror" width="22px" height="22px" />
      </a>
{% endif %}
    </td>
    <td class="col col-sm-2">
    <form method="POST" action="{{url_for('firmware.route_asset_delete', firmware_id=fw.firmware_id, firmware_asset_id=asset.firmware_asset_id)}}">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="btn btn-danger btn-block">Delete</button>
    </form>
{% if g.user.check_acl('@admin') %}
      <form class="input-group mt-2" action="{{url_for('firmware.route_asset_upload_overflow', firmware_id=fw.firmware_id, firmware_asset_id=asset.firmware_asset_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
{% if asset.mirror_url %}
        <button class="btn btn-block btn-secondary">Re-upload to Mirror</button>
{% else %}
        <button class="btn btn-block btn-success">Upload to Mirror</button>
{% endif %}
      </form>
{% endif %}
    </td>
  </tr>
{% endfor %}
</table>
  </div>
</div>
{% endif %}

<form method="post" action="{{url_for('firmware.route_asset_upload', firmware_id=fw.firmware_id)}}" enctype="multipart/form-data" class="form">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Add a new asset</h2>
    <div class="form">
      <div class="form-group">
        <input type="file" class="form-control-file" id="file-input" id="file" name="file" required/>
      </div>
      <input type="submit" class="btn btn-primary" value="Upload">
    </div>
  </div>
</div>
</form>

{% endblock %}
