<nav class="row">
  <div class="col col-sm-1 btn-group mb-3">
{% if request.url_rule.endpoint == 'queries.route_show' %}
    <a class="btn btn-falcon-default mr-sm-3"
      href="{{url_for('queries.route_list')}}">
      <img class="fa" src="{{url_for('cdn', filename='img/arrow-left-solid.svg')}}" width="16px" height="16px" />
    </a>
{% endif %}
  </div>
  <div class="col col-sm-10 text-center mb-3">
    <div class="btn-group" role="group">
{% if g.user.check_acl('@yara-query') %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'queries.route_new' else 'default'}}"
        href="{{url_for('queries.route_new')}}">New Query</a>
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'queries.route_list' else 'default'}}"
        href="{{url_for('queries.route_list')}}">Past Queries</a>
{% endif %}
    </div>
  </div>
</nav>
