{% extends "default.html" %}
{% block title %}User Queries{% endblock %}

{% block nav %}{% include 'query-nav.html' %}{% endblock %}

{% block content %}

{% if g.user.queries|length == 0 %}
<div class="card">
  <div class="card-body">
  <p class="card-text text-secondary">
    No past queries.
  </p>
  </div>
</div>
{% endif %}

{% for query in g.user.queries %}
<a name="query_{{query.yara_query_id}}"></a>
<div class="card mb-3">

  <h2 class="card-header card-title list-group-item-{{query.color}}">
    {{query.title}}
{% if query.total %}
    : {{query.found}} out of {{query.total}}
{% endif %}
{% if query.percentage and not query.ended_ts %}
    <small>({{query.percentage}}% complete)</small>
{% elif not query.started_ts %}
    <small>(pending)</small>
{% endif %}
    <span class="float-right">
      Ran {{format_humanize_naturaltime(query.ctime)}}
{% if query.ended_ts and query.started_ts %}
      taking {{format_humanize_naturaldelta(query.ended_ts - query.started_ts)}}
{% endif %}
    </span>
  </h2>

  <div class="card-body">
{% if query.error %}
    <pre class="mb-3">Failed: {{query.error}}</pre>
{% elif query.mds %}
    <ul class="list-group mb-3">
{% for title in query.mds|sort %}
      <li class="list-group-item">{{title}}</li>
{% endfor %}
    </ul>
{% else %}
    <p class="text-muted">No components matched</p>
{% endif %}
    <div class="form-inline">
{% if query.check_acl('@show') %}
      <a class="card-link btn btn-info m-1"
         href="{{url_for('queries.route_show', yara_query_id=query.yara_query_id)}}"
         role="button">Details</a>
{% endif %}
{% if query.check_acl('@retry') and query.ended_ts %}
      <form action="{{url_for('queries.route_retry', yara_query_id=query.yara_query_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-warning mx-1">Retry</button>
      </form>
{% endif %}
{% if query.check_acl('@delete') %}
      <form action="{{url_for('queries.route_delete', yara_query_id=query.yara_query_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-danger mx-1">Delete</button>
      </form>
{% endif %}
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}

