{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}

<script src="{{url_for('cdn', filename='Chart.js')}}"></script>

<script>
Chart.defaults.global.animation = false;
</script>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Intel Microcode Versions</h2>
    <canvas id="metadataChartUserAgents" width="1000" height="500"></canvas>
    <table class="table mt-3">
      <tr class="row">
        <th class="col col-1">Year</th>
        <th class="col col-1">Count</th>
      </tr>
{% for year in cnt_years|sort(reverse=True) %}
      <tr class="row">
        <td class="col col-1">{{year}}</td>
        <td class="col col-1">{{cnt_years[year]}}</td>
      </tr>
{% endfor %}
    </table>
  </div>
</div>

<script>
var ctx = document.getElementById("metadataChartUserAgents").getContext("2d");
const data = {
  labels: [
{% for ds in datasets %}
    '{{ds.label}}',
{% endfor %}
  ],
  datasets: [{
    data: [
{% for ds in datasets %}
    {{ds.value}},
{% endfor %}
    ],
    backgroundColor: [
{% for ds in datasets %}
    '#{{ds.color}}',
{% endfor %}
    ],
    hoverOffset: 4
  }]
};

new Chart(ctx, {
    type: 'pie',
    data: data
});

</script>

<div class="card mt-3">
  <div class="card-body">
    <table class="table">
      <tr class="row table-borderless">
        <th class="col col-sm-6">AppStream ID</th>
        <th class="col col-sm-3">Version</th>
        <th class="col col-sm-3">Released</th>
      </tr>
{% for appstream_id in data|sort %}
{% set row = data[appstream_id] %}
      <tr class="row">
        <td class="col col-sm-6"><code>{{appstream_id}}</code></td>
        <td class="col col-sm-3">{{row['version']}}</td>
        <td class="col col-sm-3">{{row['yyyymmdd']}}</td>
      </tr>
{% endfor %}
    </table>
  </div>
</div>

{% endblock %}
