{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
<script src="{{url_for('cdn', filename='Chart.js')}}"></script>
<script>
Chart.defaults.global.animation = false;
</script>
<canvas id="metadataChartMonthsDays" width="1000" height="600"></canvas>
  </div>
</div>
<script>
var ctx = document.getElementById("metadataChartMonthsDays").getContext("2d");
var data = {
    labels: {{labels_days|safe}},
    datasets: [
{% for ds in datasets %}
        {
            label: "{{ds.label}}",
            borderColor: "#{{ds.color}}",
            backgroundColor: "#{{ds.color}}",
            fill: false,
            pointRadius: 1,
            data: [{% for val in ds.data %}{{val}}, {% endfor %}],
        },
{% endfor %}
    ]
};

new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        legend: {
            position: 'bottom',
            display: true
        },
        scales: {
            yAxes: [{
                ticks: {
                    precision: 0,
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
{% endblock %}
