{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}

{% if clients|length == 0 %}
<div class="card">
  <div class="card-body">
    <p class="card-text text-secondary">
      No recent downloads.
    </p>
  </div>
</div>
{% endif %}

{% for c in clients %}
<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title">{{c.fw.md_prio.name_with_vendor_category}}</code></h2>
    <table class="table card-text">
      <tr class="row">
        <th class="col-3">Timestamp</th>
        <td class="col">{{c.timestamp.strftime('%F %T')}}</td>
      </tr>
{% if c.user_agent %}
      <tr class="row">
        <th class="col-3">User Agent</th>
        <td class="col"><code>{{c.user_agent}}</code></td>
      </tr>
{% endif %}
{% if c.addr %}
      <tr class="row">
        <th class="col-3">Requester</th>
        <td class="col"><code>{{c.addr}}</code></td>
      </tr>
{% endif %}
{% if c.country_code %}
      <tr class="row">
        <th class="col-3">GeoIP Country</th>
        <td class="col">{{format_iso3166(c.country_code)}}</td>
      </tr>
{% endif %}
    </table>
    <a class="card-link" href="{{url_for('firmware.route_show', firmware_id=c.fw.firmware_id)}}">Details</a>
  </div>
</div>
{% endfor %}

{% endblock %}
