{% extends "default.html" %}
{% block title %}HSI Report {{rpt.hsi_report_id}}{% endblock %}

{% block nav %}{% include 'hsireport-nav.html' %}{% endblock %}

{% block content %}
<div class="card-deck">
<div class="card">
  <div class="card-body">
  <h2 class="card-title">HSI Report {{rpt.hsi_report_id}}</h2>
<table class="table card-text">
  <tr class="row table-borderless">
    <th class="col col-3">Submitted</th>
    <td class="col"><code>{{rpt.timestamp.strftime('%F %T')}}</code></td>
  </tr>
  <tr class="row table-borderless">
    <th class="col col-3">HSI</th>
    <td class="col"><code>{{rpt.host_security_id}} {{rpt.host_security_version}}</code></td>
  </tr>
{% if rpt.kernel_version %}
  <tr class="row table-borderless">
    <th class="col col-3">Kernel Version</th>
    <td class="col"><code>{{rpt.kernel_version}}</code></td>
  </tr>
{% endif %}
{% if rpt.kernel_cmdline %}
  <tr class="row table-borderless">
    <th class="col col-3">Kernel Commandline</th>
    <td class="col"><code>{{rpt.kernel_cmdline}}</code></td>
  </tr>
{% endif %}
{% if rpt.distro %}
  <tr class="row table-borderless">
    <th class="col col-3">Distribution</th>
    <td class="col"><code>{{rpt.distro}}</code></td>
  </tr>
{% endif %}
{% if rpt.user %}
  <tr class="row table-borderless">
    <th class="col col-3">User</th>
    <td class="col"><code>{{rpt.user.display_name}}</code></td>
  </tr>
{% endif %}
</table>
    <div class="form-inline">
      <a class="card-link btn btn-info mx-1" href="{{url_for('hsireports.route_view', hsi_report_id=rpt.hsi_report_id)}}">
        Show JSON
      </a>
      <form action="{{url_for('hsireports.route_delete', hsi_report_id=rpt.hsi_report_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-danger mx-1">Delete</button>
      </form>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
  <h2 class="card-title">Device</h2>
<table class="table card-text">
  <tr class="row table-borderless">
    <th class="col col-3">Machine</th>
    <td class="col text-truncate"><code>{{rpt.machine_id}}</code></td>
  </tr>
  <tr class="row table-borderless">
    <th class="col col-3">Vendor</th>
    <td class="col"><code>{{rpt.host_vendor}}</code></td>
  </tr>
  <tr class="row table-borderless">
    <th class="col col-3">Product</th>
    <td class="col"><code>{{rpt.host_product}}</code></td>
  </tr>
  <tr class="row table-borderless">
    <th class="col col-3">Family</th>
    <td class="col"><code>{{rpt.host_family}}</code></td>
  </tr>
{% if rpt.host_sku %}
  <tr class="row table-borderless">
    <th class="col col-3">SKU</th>
    <td class="col"><code>{{rpt.host_sku}}</code></td>
  </tr>
{% endif %}
</table>
  </div>
</div>
</div>

<div class="card mt-3">
  <div class="card-body">
  <h2 class="card-title">HSI Attributes</h2>
<table class="table card-text">
  <tr class="row table-borderless">
    <th class="col">AppStream ID</th>
    <th class="col">Result</th>
  </tr>
{% for rattr in rpt.attrs|sort(attribute='key') %}
  <tr class="row">
    <td class="col"><code>{{rattr.appstream_id}}</code></td>
    <td class="col">
{% if rattr.is_success %}
      <img class="fa mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
{% else %}
      <img class="fa mr-2" src="{{url_for('cdn', filename='img/times-circle-solid.svg')}}" width="22px" height="22px" />
{% endif %}
      <code>{{rattr.hsi_result}}</code>
{% if rattr.is_runtime %}
      (runtime)
{% endif %}
{% if rattr.is_obsoleted %}
      (obsoleted)
{% endif %}
    </td>
  </tr>
{% endfor %}
</table>
  </div>
</div>
{% endblock %}
