{% extends "default.html" %}
{% block title %}Issues{% endblock %}

{% block content %}

{% if issues|length == 0 %}
<p class="card-text">
  No issues have been created.
</p>
{% endif %}

{% for issue in issues %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-{{issue.color}}">
{% if issue.vendor.vendor_id != 1 %}
    {{issue.vendor.display_name}}
{% endif %}
    {{issue.name or issue.url}}
{% if issue.mtime %}
    <span class="float-right">{{format_humanize_naturaltime(issue.mtime)}}</span>
{% endif %}
  </h2>
  <div class="card-body">
    <p class="card-text">{{issue.description}}</p>
    <a class="btn btn-info card-link" href="{{url_for('issues.route_show', issue_id=issue.issue_id)}}" role="button">Details &raquo;</a>

{% if issue.check_acl('@modify') %}
    <!-- {{issue.priority}} -->
    <div class="btn-group float-right" role="group">
{% if issue == issues[0] %}
      <a class="btn btn-sm btn-outline-dark" href="{{url_for('issues.route_priority', issue_id=issue.issue_id, op='down')}}">▼</a>
{% elif issue == issues[issues|length-1] %}
      <a class="btn btn-sm btn-outline-dark" href="{{url_for('issues.route_priority', issue_id=issue.issue_id, op='up')}}">▲</a>
{% else %}
      <a class="btn btn-sm btn-outline-dark" href="{{url_for('issues.route_priority', issue_id=issue.issue_id, op='up')}}">▲</a>
      <a class="btn btn-sm btn-outline-dark" href="{{url_for('issues.route_priority', issue_id=issue.issue_id, op='down')}}">▼</a>
{% endif %}
    </div>
{% endif %}
  </div>
</div>
{% endfor %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Create a new issue</h2>
    <div class="card-text">
    <form method="post" action="{{url_for('issues.route_create')}}" class="form">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <div class="form-group">
        <label for="url">Issue URL</label>
        <input class="form-control" id="url" type="text" id="url" name="url">
      </div>
      <input class="btn btn-primary card-link" type="submit" value="Add">
    </form>
    </div>
  </div>
</div>
{% endblock %}
