{% extends "default.html" %}
{% block title %}GUIDs{% endblock %}

{% block content %}

<form id="generate" method="post" action="{{url_for('main.route_guid')}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">GUID Generation Helper</h4>
    <p class="card-text">
      Enter the Instance ID in the text box below to generate the GUID.
      <input form="generate" class="form-control mt-3" id="instance_id" type="text"
            id="instance_id" name="instance_id" placeholder="USB\VID_1234&PID_5678"
            value="{{instance_id or ''}}" required></input>
    </p>
{% if guid %}
    <p class="card-text">
      <code>{{instance_id}} → {{guid}}</code>
    </p>
{% endif %}
    <button form="generate" class="card-link btn btn-primary" type="submit">Calculate GUID</button>
  </div>
</div>

{% endblock %}
