{% extends "default.html" %}
{% block title %}Sign In{% endblock %}

{% block content %}

<div class="container">
  <div class="row flex-center min-vh-100 py-6">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <a class="d-block text-center mb-3" href="/">
        <div class="d-inline-flex flex-center">
          <img class="mr-2" src="{{url_for('cdn', filename='avatar.png')}}" alt="" width="58" />
          <span class="text-sans-serif font-weight-extra-bold fs-5 d-inline-block">LVFS</span>
        </div>
      </a>
      <div class="card">
        <div class="card-body p-5">
          <div class="row text-left justify-content-between">
            <div class="col-auto">
              <h5> Log in</h5>
            </div>
            <div class="col-auto">
              <p class="fs--1 text-600">or <a href="{{url_for('main.route_new_account')}}">apply for an account</a></p>
            </div>
          </div>
          <p class="card-text">
            Accounts are only used by hardware vendors when uploading new firmware.
          </p>
          <form method="post" action="{{url_for('main.route_login1_response')}}">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
            <div class="form-group">
              <input class="form-control" type="email" id="username" name="username" placeholder="Email address" autofocus/>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Next</button>
            </div>
            <div class="w-100 position-relative text-center mt-3">
              <hr class="text-300" />
              <div class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">or sign-in with</div>
            </div>
            <div class="form-group mb-0">
              <div class="row no-gutters">
                <div class="col-sm-12 pr-sm-1">
                  <a class="btn btn-secondary btn-block mt-2" href="{{url_for('main.route_login_oauth', plugin_id='oauth')}}">
                    OAuth (Azure)
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
