{% extends "default.html" %}
{% block title %}Sign In{% endblock %}

{% block content %}

<div class="container">
  <div class="row flex-center min-vh-100 py-6">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <a class="d-block text-center mb-3" href="/">
        <div class="d-inline-flex flex-center">
          <img class="mr-2" src="{{url_for('cdn', filename='avatar.png')}}" alt="" width="58" />
          <span class="text-sans-serif font-weight-extra-bold fs-5 d-inline-block">LVFS</span>
        </div>
      </a>
      <div class="card">
        <div class="card-body p-5">
          <div class="row text-left justify-content-between">
            <div class="col-auto">
              <h5> Log in as <code>{{u.username}}</code></h5>
            </div>
          </div>
          <form method="post" action="{{url_for('main.route_login')}}">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
            <input type="hidden" name="username" value="{{u.username}}">
            <div class="form-group mt-3">
              <input class="form-control" type="password" id="password" name="password" placeholder="Password" autofocus/>
            </div>
{% if u.is_otp_enabled %}
            <div class="form-group">
              <input class="form-control" type="text" id="otp" name="otp" placeholder="2FA OTP" />
            </div>
{% endif %}
            <div class="row justify-content-between">
              <div class="col-auto"><a class="fs--1" href="{{url_for('users.route_recover')}}">Forget Password?</a></div>
            </div>
            <div class="form-group mb-0">
              <button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Login</button>
              <a class="btn btn-outline-secondary btn-block mt-3" href="{{url_for('main.route_login1')}}">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
