{% extends "default.html" %}
{% block title %}Report {{rpt.report_id}}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <h2 class="card-title">Report {{rpt.report_id}}</h2>
<table class="table">
  <tr class="row table-borderless">
    <th class="col col-sm-5">Key</th>
    <th class="col col-sm-7">Value</th>
  </tr>
{% if rpt.addr and g.user.check_acl('@admin') %}
  <tr class="row">
    <td class="col col-sm-5">IP Address</th>
    <td class="col col-sm-7"><code>{{rpt.addr}}</code></td>
  </tr>
{% endif %}
{% if rpt.user_id %}
  <tr class="row">
    <td class="col col-sm-5">Uploader</th>
    <td class="col col-sm-7">
{% if g.user.check_acl('@admin') %}
      <code>{{rpt.user.username}} ({{rpt.user.vendor.display_name}})</code>
{% else %}
      {{rpt.user.vendor.display_name}}
{% endif %}
    </td>
  </tr>
{% endif %}
{% for rattr in rpt.attributes|sort(attribute='key') %}
  <tr class="row">
    <td class="col col-sm-5"><code>{{rattr.key}}</code></td>
    <td class="col col-sm-7"><code>{{rattr.value}}</code></td>
  </tr>
{% endfor %}
</table>
  </div>
</div>
{% endblock %}
