{% extends "default.html" %}
{% block title %}{{fws[0].md_prio.name if fws else 'No firmware for device found'}}{% endblock %}

{% block head %}
{% if fws|length > 0 %}
    <link rel="alternate" type="application/atom+xml"
      title="LVFS: {{fws[0].md_prio.name}}"
      href="{{url_for('devices.route_show_atom', appstream_id=appstream_id)}}" />
{% endif %}
{% endblock %}

{% block nav %}{% include 'device-nav.html' %}{% endblock %}

{% block content %}

{% if fws|length == 0 %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Device Details</h2>
    <p class="card-text">No firmware is available for this device.</p>
  </div>
</div>

{% else %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      {{fws[0].vendor.display_name_with_team}} {{fws[0].md_prio.name}}
    </h2>
    <p class="card-text">{{fws[0].md_prio.description}}</p>
{% if fws[0].mds[0].is_eol %}
  <div class="alert alert-warning mt-1 card-text" role="alert">
    <strong>These devices are unlikely to get updates to fix critical security problems.</strong>
    The vendor has marked this device end-of-life and are no longer officially supported.
  </div>
{% endif %}
  <a class="card-link btn btn-info" href="{{url_for('devices.route_show_atom', appstream_id=appstream_id)}}">
    <img class="fa mr-2" src="{{url_for('cdn', filename='img/rss-solid.svg')}}" width="16px" height="16px"/>
    Atom Feed
  </a>
  </div>
</div>

{% for fw in fws %}
<a name="{{fw.version_display}}"></a>
<div class="card mt-3" style="{{'display:none' if fw.is_poison}}">
  <h2 class="card-header card-title list-group-item-{{'success' if fw.remote.name == 'stable' else 'warning'}} ">
    Version {{fw.version_display}}
{% if fw.remote.name == 'testing' %}
  &mdash; not be suitable for production systems
{% endif %}
{% if fw.release_ts %}
    <div class="float-right">
      {{fw.release_ts.strftime('%F %T')}}
    </div>
{% endif %}
  </h2>
  <div class="card-body">
{% if fw.md_prio.descriptions %}
    <p class="card-text">
      {{format_html_from_markdown(fw.md_prio.descriptions[0].value)|safe}}
    </p>
{% endif %}
<table class="table card-text">
  <tr class="row table-borderless">
    <th class="col col-sm-2">Urgency</th>
    <td class="col col-sm-10">{{fw.md_prio.release_urgency}}</td>
  </tr>
{% if fw.success %}
  <tr class="row table-borderless">
    <th class="col col-sm-2">Reported Success</th>
    <td class="col col-sm-10">
      {{fw.success}}%
      <span class="text-muted">({{fw.success_confidence}} confidence)</span>
    </td>
  </tr>
{% endif %}
{% if fw.md_prio.requires_source_url %}
  <tr class="row table-borderless">
    <th class="col col-sm-2">Source</th>
    <td class="col col-sm-10">
      <a href="{{fw.md_prio.source_url}}">{{fw.md_prio.source_url}}</a>
    </td>
  </tr>
{% endif %}
{% if fw.md_prio.issues %}
  <tr class="row table-borderless">
    <th class="col col-sm-2">Fixed issues:</th>
    <td class="col col-sm-10">
      <ul class="list-group mb-3">
{% for issue in fw.md_prio.issues %}
        <li class="list-group-item">
          <a class="btn" href="{{issue.url}}">{{issue.value_display}}</a>
{% if issue.description %}
          <p>{{issue.description}}</p>
{% endif %}
        </li>
{% endfor %}
      </ul>
    </td>
  </tr>
{% endif %}
  <tr class="row table-borderless">
    <th class="col col-sm-2">Licenses</th>
    <td class="col col-sm-10">
      <ul class="list-group">
{% for license in fw.md_prio.licenses %}
        <li class="list-group-item">
{% if license.is_approved %}
          <img class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
{% else %}
          <img class="mr-2" src="{{url_for('cdn', filename='img/info-circle-solid.svg')}}" width="22px" height="22px" />
{% endif %}
{% if license.url %}
          <a href="{{license.url}}">{{license.name}}</a>
{% else %}
          {{license.name}}
{% endif %}
      </li>
{% endfor %}
      </ul>
    </td>
  </tr>
  <tr class="row table-borderless">
    <th class="col col-sm-2">Security</th>
    <td class="col col-sm-10">
      <ul class="list-group">
{% for claim in (fw.autoclaims+fw.claims)|selectattr('enabled')|rejectattr('kind', 'equalto', 'swids')|sort() %}
{% if claim.summary %}
        <li class="list-group-item">
{% if claim.icon_name %}
          <img class="mr-2" src="{{url_for('cdn', filename='img/' + claim.icon_name + '-solid.svg')}}" width="22px" height="22px" />
{% endif %}
          {{claim.summary}}
{% if claim.url %}
          <span class="float-right"><a class="btn btn-sm btn-outline-info" href="{{claim.url}}">More info</a></span>
{% endif %}
        </li>
{% endif %}
{% endfor %}
{% if fw.md_prio.swids %}
        <li class="list-group-item">
          <img class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
          Includes Software Bill of Materials
          <span class="float-right">
            <a class="btn btn-sm btn-outline-info" href="{{url_for('devices.route_swids', component_id=fw.md_prio.component_id)}}">
              More info
            </a>
          </span>
        </li>
{% endif %}
      </ul>
    </td>
  </tr>
{% if fw.reports_verified %}
  <tr class="row">
    <th class="col col-sm-2">Tested By</th>
    <td class="col col-sm-10">

      <ul class="list-group">
{% for rpt in fw.reports_verified %}
        <li class="list-group-item">
{% set verified_vendor = rpt.verified_vendor %}
{% if verified_vendor.icon %}
          <img class="fas" src="{{url_for('cdn', scope='uploads', filename=verified_vendor.icon)}}" width="22px" height="22px" />
{% endif %}
          {{verified_vendor.display_name}}
          <small>on {{rpt.verified_description}}</small>
          <span class="float-right">
            {{format_humanize_naturaltime(rpt.timestamp)}}
          </span>
        </li>
{% endfor %}
      </ul>
      <h6 class="text-muted mt-3">
        The vendors testing the update provide no warranty of any kind (express
        or implied), including but not limited to the warranties of merchantability,
        fitness for a particular purpose or non-infringement.
        In no event shall these vendors be liable for any claim, damages or
        other liability.
      </h6>
    </td>
  </tr>
{% endif %}
{% if vendors_trusted_report %}
  <tr class="row">
    <th class="col col-sm-2">Release Gating</th>
{% for vendor in vendors_trusted_report %}
    <td class="col col-sm-10">
      <ul class="list-group">
{% if fw.has_vendor_trusted_report(vendor) %}
        <li class="list-group-item">
          <img class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
          Available to {{vendor.distro_name}} users
        </li>
{% else %}
        <li class="list-group-item">
          <img class="mr-2" src="{{url_for('cdn', filename='img/times-circle-solid.svg')}}" width="22px" height="22px" />
          Not available to {{vendor.distro_name}} users
{% if vendor.trusted_reports_url %}
          <span class="float-right"><a class="btn btn-sm btn-outline-info" href="{{vendor.trusted_reports_url}}">More info</a></span>
{% endif %}
        </li>
{% endif %}
      </ul>
    </td>
{% endfor %}
  </tr>
{% endif %}
</table>
{% if fw.inhibit_download %}
  <div class="alert alert-info" role="alert">
    The OEM has disabled direct downloads of this firmware archive.
    End users should use a client such as <code>fwupdmgr</code> to update.
  </div>
{% endif %}
{% if not fw.inhibit_download %}
    <a class="card-link btn btn-info" href="{{fw.revisions[0].url}}">Download Archive</a>
{% endif %}
{% if fw.md_prio.details_url_with_fallback %}
    <a class="card-link btn btn-info" href="{{fw.md_prio.details_url_with_fallback}}">More details</a>
{% endif %}
{% if fw.md_prio.shards %}
    <a class="card-link btn btn-info" href="{{url_for('devices.route_shards', component_id=fw.md_prio.component_id)}}">Firmware Details</a>
{% if fw_previous[fw] %}
    <a class="card-link btn btn-info" href="{{url_for('devices.route_shards_diff',
                                                      component_id_old=fw_previous[fw].md_prio.component_id,
                                                      component_id_new=fw.md_prio.component_id)}}">Compare with previous</a>
{% endif %}
{% endif %}
  </div>
</div>

{% endfor %}

{% endif %}

{% endblock %}
