{% extends "default.html" %}
{% block title %}Device Status{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Device Status uploaded by {{vendor.display_name_with_team}}</h2>
{% if cats|length > 1 %}
    <div class="dropdown float-left">
      <button class="card-link btn btn-secondary dropdown-toggle"
              type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item"
           href="{{url_for('devices.route_status', category_id=0, vendor_id=vendor.vendor_id)}}">
          None
        </a>
{% for cat in cats %}
        <a class="dropdown-item"
           href="{{url_for('devices.route_status', category_id=cat.category_id, vendor_id=vendor.vendor_id)}}">
          {{cat.name}}
        </a>
{% endfor %}
      </div>
    </div>
{% endif %}
    <div class="float-right">
      <a class="card-link btn btn-info"
         href="{{url_for('devices.route_status_csv', category_id=category_id, vendor_id=vendor.vendor_id)}}">
        Export as CSV
      </a>
    </div>
  </div>
</div>

{% if not appstream_ids %}
<div class="card mt-3">
  <div class="card-body">
    <p class="card-text">No devices to show!</p>
  </div>
</div>
{% endif %}

{% for appstream_id in appstream_ids|sort %}
{% set md_by_remote = appstream_ids[appstream_id] %}
{% set md = md_by_id[appstream_id] %}
{% set product = md.product %}
<div class="card mt-3">
  <div class="card-body">
    <h4 class="card-title">
      {{md.name_with_vendor}}
      <div class="float-right">
        <code>{{appstream_id}}</code>
      </div>
    </h4>
    <table class="table card-text">
      <tr class="row">
        <th class="col col-sm-2">Remote</th>
        <th class="col col-sm-4">Latest Version in Remote</th>
        <th class="col col-sm-2">Verified Reports</th>
        <th class="col col-sm-2">User Reports</th>
        <th class="col col-sm-2">Downloads</th>
      </tr>
{% for remote_id in ['private', 'embargo', 'testing', 'stable'] %}
{% set md = md_by_remote.get(remote_id) %}
{% if md %}
      <tr class="row">
        <td class="col col-sm-2">
          <span class="badge badge-{{md.fw.remote.color}}">{{md.fw.remote.name}}</span>
        </td>
        <td class="col col-sm-4">
          <a href="{{url_for('firmware.route_show', firmware_id=md.fw.firmware_id)}}">
            {{md.version_with_tag}}
          </a>
        </td>
        <td class="col col-sm-2">
{% if md.fw.reports_verified %}
          <a href="{{url_for('firmware.route_analytics_reports', firmware_id=md.fw.firmware_id)}}">
            <img alt="verified reports" class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="16px" height="16px" />
          </a>
{% else %}
          <img alt="no verified reports" class="mr-2" src="{{url_for('cdn', filename='img/times-circle-solid.svg')}}" width="16px" height="16px" />
{% endif %}
        </td>
        <td class="col col-sm-2">
{% if md.fw.report_success_cnt %}
          <a href="{{url_for('firmware.route_analytics_reports', firmware_id=md.fw.firmware_id)}}">
            <img alt="user reports" class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="16px" height="16px" />
            {{md.fw.success|round(1)}}%
          </a>
{% else %}
          <img alt="no user reports" class="mr-2" src="{{url_for('cdn', filename='img/times-circle-solid.svg')}}" width="16px" height="16px" />
{% endif %}
        </td>
        <td class="col col-sm-2">{{format_humanize_intchar(md.fw.download_cnt)}}</td>
      </tr>
{% endif %}
{% endfor %}
    </table>
{% if product and product.state %}
    <p class="text-muted mt-3">
      Set as {{product.state_display}} {{format_humanize_naturaltime(product.mtime)}} by <code>{{product.user.username}}</code>
    </p>
{% endif %}
    {% set product = md_by_id[appstream_id].product %}

    <form id="device-state-{{md.component_id}}-active" action="{{url_for('devices.route_device_state', component_id=md.component_id, state='active')}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    </form>
    <form id="device-state-{{md.component_id}}-eol" action="{{url_for('devices.route_device_state', component_id=md.component_id, state='eol')}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    </form>

    <a class="card-link btn btn-info mt-3" href="{{url_for('search.route_fw', value=appstream_id)}}">Show All</a>
{% if product and product.state != None %}
    <button form="device-state-{{md.component_id}}-active" class="card-link btn btn-warning float-right mt-3">Set Product Active</button>
{% else %}
    <button form="device-state-{{md.component_id}}-eol" class="card-link btn btn-warning float-right mt-3">Set Product End Of Life</button>
{% endif %}
  </div>
</div>
{% endfor %}

{% endblock %}
