{% extends "default.html" %}
{% block title %}Device Reports{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Unique Device Reports ({{rpt_infos_cnt}})</h2>
    <table class="table">
      <tr class="row">
        <th class="col col-sm-4">Device</th>
        <th class="col col-sm-3">Instance ID</th>
        <th class="col col-sm-2">Plugin</th>
        <th class="col col-sm-2">Vendor ID</th>
        <th class="col col-sm-1">Support</th>
      </tr>
{% for rpt_info in rpt_infos.items %}
{% set rpt_item = rpt_info.item %}
{% if rpt_item %}
      <tr class="row">
        <td class="col col-sm-4">
          <img class="mr-2" src="{{url_for('cdn', filename='icons/' + (rpt_info.icon or 'image-missing') + '.png')}}" width="24px" height="24px" />
          {{rpt_item.vendor}} {{rpt_item.name}}
        </td>
        <td class="col col-sm-3"><code>{{rpt_info.instance_id}}</code></td>
        <td class="col col-sm-2"><code>{{rpt_item.plugin}}</code></td>
        <td class="col col-sm-2"><code>{{rpt_item.vendor_id}}</code></td>
        <td class="col col-sm-1">{{rpt_info.cnt_supported}} of {{rpt_info.cnt}}</td>
      </tr>
{% endif %}
{% endfor %}
    </table>
  </div>
</div>

<!-- pagination -->
<nav aria-label="Page navigation">
  <ul class="pagination pagination-lg mt-3">
    <li class="page-item {% if rpt_infos.page == 1 %}disabled{% endif %}">
      <a class="page-link" href="{{url_for('devices.route_report', page=rpt_infos.prev_num)}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
{% for page_num in rpt_infos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
    <li class="page-item {% if rpt_infos.page == page_num %}active{% endif %}">
      <a class="page-link" href="{{url_for('devices.route_report', page=page_num)}}">{{page_num}}</a>
    </li>
{% else %}
    <li class="page-item disabled"><a class="page-link">...</a></li>
{% endif %}
{% endfor %}
    <li class="page-item {% if rpt_infos.page == rpt_infos.pages %}disabled{% endif %}">
      <a class="page-link" href="{{url_for('devices.route_report', page=rpt_infos.next_num)}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}
