{% extends "default.html" %}
{% block title %}Protocol Version Formats{% endblock %}

{% block nav %}{% include 'protocol-nav.html' %}{% endblock %}

{% block content %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Protocol Version Formats</h2>
{% if protocol.verfmt_items|length == 0 %}
    <p class="text-muted">No version formats restrictions have been defined for this protocol.</p>
{% endif %}
<table class="table">
{% if protocol.verfmt_items|length %}
  <tr class="row table-borderless">
    <th class="col col-sm-3">Value</th>
    <th class="col col-sm-2">Example</th>
    <th class="col col-sm-5">Added by</th>
    <th class="col col-sm-2">&nbsp;</th>
  </tr>
{% endif %}
{% for verfmt_item in protocol.verfmt_items %}
  <tr class="row">
    <td class="col col-sm-3"><code>{{verfmt_item.verfmt.value}}</code></td>
    <td class="col col-sm-2"><code>{{verfmt_item.verfmt.example if verfmt_item.verfmt.example else 'n/a'}}</code></td>
    <td class="col col-sm-5">{{verfmt_item.user.username}} {{format_humanize_naturaltime(verfmt_item.ctime)}}</td>
    <td class="col col-sm-2">
      <form id="delete" action="{{url_for('protocols.route_verfmt_delete', protocol_id=verfmt_item.protocol_id, protocol_verfmt_item_id=verfmt_item.protocol_verfmt_item_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <input type="submit" class="btn-block btn btn-danger" value="Remove">
      </form>
    </td>
  </tr>
{% endfor %}
<form method="post" action="{{url_for('protocols.route_verfmt_add', protocol_id=protocol.protocol_id)}}">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row table-borderless">
    <td class="col col-sm-10">
      <select class="form-control" id="verfmt_id" name="verfmt_id">
{%- for verfmt in verfmts %}
{%- if verfmt not in protocol.verfmts %}
        <option value="{{verfmt.verfmt_id}}">{{verfmt.value}}</option>
{%- endif %}
{%- endfor %}
      </select>
    </td>
    <td class="col col-sm-2"><input type="submit" class="btn-block btn btn-primary" value="Add"></td>
  </tr>
</form>
</table>
  </div>
</div>

{% endblock %}
