{% extends "default.html" %}
{% block title %}Protocol Flags{% endblock %}

{% block nav %}{% include 'protocol-nav.html' %}{% endblock %}

{% block content %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Protocol flags</h2>
{% if protocol.device_flags|length == 0 %}
    <p class="text-muted">No flags can be added by firmware using this protocol.</p>
{% endif %}
<table class="table">
{% if protocol.device_flags|length %}
  <tr class="row table-borderless">
    <th class="col col-sm-3">Value</th>
    <th class="col col-sm-2">Requirement</th>
    <th class="col col-sm-5">Added by</th>
    <th class="col col-sm-2">&nbsp;</th>
  </tr>
{% endif %}
{% for pdf in protocol.device_flags %}
  <tr class="row">
    <td class="col col-sm-3"><code>{{pdf.value}}</code></td>
    <td class="col col-sm-2"><code>{{pdf.fwupd_version if pdf.fwupd_version else 'n/a'}}</code></td>
    <td class="col col-sm-5">{{pdf.user.username}} {{format_humanize_naturaltime(pdf.ctime)}}</td>
    <td class="col col-sm-2">
      <a class="btn btn-block btn-info"
         href="{{url_for('protocols.route_flag_show', protocol_id=pdf.protocol_id, protocol_device_flag_id=pdf.protocol_device_flag_id)}}">Details</a>
    </td>
  </tr>
{% endfor %}
<form method="post" action="{{url_for('protocols.route_flag_create', protocol_id=protocol.protocol_id)}}">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row table-borderless">
    <td class="col col-sm-10">
      <input type="text" class="form-control" name="value" value="" placeholder="upgradable..." required>
    </td>
    <td class="col col-sm-2"><input type="submit" class="btn-block btn btn-primary" value="Add"></td>
  </tr>
</form>
</table>
  </div>
</div>

{% endblock %}
